{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建测试计划</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <link rel="shortcut icon" href="{% static  'img/591.ico'%}"/>
    <style>
        * {
        padding:0;
        margin:0;
        }

        a {
            color: white;
        }

        body {
            background-color: #e8e8e8;
        }
        .maxbox{
            width: 1180px;
            margin: 0 auto;
        }
        .scope {
        margin-top: 20px;
        }
        h3 {
            font-size:18px;
            font-weight:700;
        }
        .alert {
            display: none;
        }

        h1 {
            text-align: center;
        }




    </style>

</head>
<body>
<!--    {% if msg and msg == "成功" %}-->
<!--        <div class="alert alert-warning alert-dismissible" role="alert">-->
<!--        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>-->
<!--        <strong>Warning!</strong> Better check yourself, you're not looking too good.-->
<!--        </div>-->
<!--    {% endif %}-->

<!--<ul class="nav nav-tabs" style="background-color: #337ab7">-->
<!--    <li role="presentation" class="active" data-toggle="tab"><a id="current_page_link" href="#">测试计划工具</a></li>-->
<!--    <li role="presentation" data-toggle="tab"><a id="bug_page" href="{% url 'down' %}" target="_blank">日常BUG工具</a></li>-->
<!--</ul>-->

<ul class="nav nav-tabs" style="background-color: #337ab7">
    <li role="presentation" class="active"><a id="current_page_link" href="{% url 'create_plan' %}">测试计划工具</a></li>
    <li role="presentation"><a id="bug_page" href="{% url 'down' %}" target="_self">日常BUG工具</a></li>
</ul>


<div class="alert alert-success" role="alert">
    <h1>创建成功</h1>
</div>
<div class="maxbox">
<!--    <a id="bug_page" href="{% url 'down' %}" target="_blank">日常BUG工具</a>-->
<!--    <h2>创建测试计划</h2>-->
    <form method="POST">
        <div>
            计划标题： <input type="text" class="form-control" name="title">
        </div>

        <div>
            测试目标： <input type="text" class="form-control" name="test_target">
        </div>

        <div class="device_port">
            <h3>
                端口
            </h3>
            <input type="checkbox" name="port" value="1">PC
            <input type="checkbox" name="port" value="2">Touch
            <input type="checkbox" name="port" value="3">Android
            <input type="checkbox" name="port" value="4">IOS

        </div>

        <h3>
            测试范围
        </h3>
        <div class="scope">

            测试范围： <input type="text" name="p_name" placeholder="业务名称1">
            <input type="text" name="page" placeholder="页面/功能">
            <input type="text" name="model" placeholder="模块">
            <input type="text" name="people" placeholder="负责人">
            <br>

            测试范围： <input type="text" name="p_name" placeholder="业务名称2">
            <input type="text" name="page" placeholder="页面/功能">
            <input type="text" name="model" placeholder="模块">
            <input type="text" name="people" placeholder="负责人">
            <br>
            测试范围： <input type="text" name="p_name" placeholder="业务名称3">
            <input type="text" name="page" placeholder="页面/功能">
            <input type="text" name="model" placeholder="模块">
            <input type="text" name="people" placeholder="负责人">
            <br>
            测试范围： <input type="text" name="p_name" placeholder="业务名称4">
            <input type="text" name="page" placeholder="页面/功能">
            <input type="text" name="model" placeholder="模块">
            <input type="text" name="people" placeholder="负责人">
            <br>
            <!--            测试范围： <input type="text"  name="p_name" placeholder="业务名称5">-->
            <!--                <input type="text"  name="page" placeholder="页面/功能">-->
            <!--                <input type="text"  name="model" placeholder="模块">-->
            <!--                <input type="text"  name="people" placeholder="负责人">-->
            <!--            <br>-->
        </div>

        <div class="jindu">
            <h3>
                测试进度
            </h3>

            用例时长：
            <input type="text" name="case_time" placeholder="预估时间">
            <input type="text" name="case_shiji_time" placeholder="实际时间">

            <br>

            评审日期：
            <input type="text" name="pingshen_time" placeholder="预估时间">
            <input type="text" name="pingshen_shiji_time" placeholder="实际时间">

            <br>

            提测日期：
            <input type="text" name="tice_time" placeholder="预估时间">

            <input type="text" name="tice_shiji_time" placeholder="实际时间">

            <br>

            一轮时长：
            <input type="text" name="yilun_time" placeholder="预估时间">
            <input type="text" name="yilun_shiji_time" placeholder="实际时间">

            <br>

            验收时间：
            <input type="text" name="yanshou_time" placeholder="预估时间">
            <input type="text" name="yanshou_shiji_time" placeholder="实际时间">

            <br>

            上线时间：
            <input type="text" name="shangxian_time" placeholder="预估时间">
            <input type="text" name="shangxian_shiji_time" placeholder="实际时间">
        </div>

        <div class="book_link">
            <h3>
                参考文档
            </h3>
            需求稿：
            <input type="text" name="xuqiu_link" placeholder="说明">
            <br>

            设计稿：
            <input type="text" name="sheji_link" placeholder="说明">

            <br>
            接口稿：
            <input type="text" name="api_link" placeholder="说明">
        </div>

        <div class="test_method">
            <h3>
                测试策略
            </h3>

            功能测试：
            <input type="text" name="gongneng_result" placeholder="执行结果（是/否）">
            <br>
            接口测试：
            <input type="text" name="api_result" placeholder="执行结果（是/否）">
            <br>

            界面测试：
            <input type="text" name="jiemian_result" placeholder="执行结果（是/否）">
        </div>

        <div class="author_area">
            <h3>
                创建人&&需要关联的项目&&需要关联的需求ID&&开始时间&&结束时间
            </h3>
            <select name="author" id="">
                <option disabled selected value="">选择负责人</option>
                <option value="许万乐">许万乐</option>
                <option value="周国豪">周国豪</option>
                <option value="喻文涛">喻文涛</option>
                <option value="刘倩">刘倩</option>
                <option value="梁锦松">梁锦松</option>
                <option value="段雪花">段雪花</option>
                <option value="毛有有">毛有有</option>
            </select>

            <select name="project">
                <option disabled selected value="">选择关联的项目</option>
                <option value="新建案">新建案</option>
                <option value="租售">租售</option>
                <option value="工程">工程</option>
                <option value="中古社区">中古社区</option>
                <option value="日常BUG">日常BUG</option>
            </select>

            <input type="text" name="xuqiu_id" placeholder="在这填写需求ID">

            选择开始时间：<input type="date" name="start-time">

            选择结束时间：<input type="date" name="end-time">
        </div>

        <br>
        <input type="submit" class="btn btn-primary" value="新建测试计划">
    </form>
</div>


<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
<script>



<!--       导航栏切换-->
   const ul = document.querySelector('.nav')
    ul.addEventListener('click', function (e) {
      if (e.target.tagName === 'A') {
        document.querySelector(".nav-tabs .active").classList.remove("active")
        e.target.parentNode.classList.add("active")
      }
    })




<!--    const meetingTime = document.getElementById("meeting-time");-->
<!--    const currentDate = new Date();-->
<!--    const year = currentDate.getFullYear();-->
<!--    let month = currentDate.getMonth() + 1;-->
<!--    if (month < 10) {-->
<!--    month = "0" + month;-->
<!--    }-->
<!--    let day = currentDate.getDate();-->
<!--    if (day < 10) {-->
<!--        day = "0" + day;-->
<!--    }-->
<!--    meetingTime.value = year + "-" + month + "-" + day;-->


    document.querySelector('form').addEventListener('submit', function() {
        document.querySelector('input[type="submit"]').disabled = true;
    });

    {% if messages %}
        {% for message in messages %}
            $(".alert").css("display", "block");
            setTimeout(() => {
                    $(".alert").css("display", "none");
                    location.href = 'https://www.tapd.cn/63835346/sparrow/test_plan/plan_list'
                }, 3000)
        {% endfor %}
    {% endif %}



</script>

</body>
</html>